Questions 1:

How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

1.0.1

Questions 2:
    
How to create a series from a numpy array?

In [105]:
import numpy as np
import pandas as pd
# numpy array
array1=np.array(np.arange(1,6))
print(array1)

[1 2 3 4 5]

In [111]:
# convery numpy array to series
s1=pd.Series(array1)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

Questions 3:
    
How to convert the index of a series into a column of a dataframe?

In [117]:
#series created in previous example
s1

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [128]:
#conversion of series to a data frame
df=pd.DataFrame(s1)
df.columns=["A"]
df['Index']=df.index+1
df

   A  Index
0  1      1
1  2      2
2  3      3
3  4      4
4  5      5

Questions 4:

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [130]:
import seaborn as sb

In [136]:
print(sb.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [243]:
mpg=sb.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [244]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [245]:
mpg['weight'].value_counts().sample(6)

2910    1
3410    2
2725    1
3265    1
2372    1
3613    1
Name: weight, dtype: int64

Questions 5:
    
Which country origin cars are a part of this dataset?

In [246]:
origin = mpg['origin'].unique()
origin

array(['usa', 'japan', 'europe'], dtype=object)

Questions 6:

Extract the part of the dataframe which contains cars belonging to 'usa'

In [247]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [248]:
df2=mpg[mpg['origin'].str.contains("usa")]

In [249]:
df2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino